{% extends "base/base_header.html" %}
{% load static %}
{% block body %}
  
<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-white mt-5 mb-5">Hello, <b>{{user.first_name}} {{user.last_name}}</b></p>
        </div>
    </div>
            <!-- row -->
            <div class="row tm-content-row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">Product Sales Growth</h2>
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title"> Product Performance</h2>
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller">
                        <h2 class="tm-block-title"> Product Storage Information</h2>
                        <div id="pieChartContainer">
                            <canvas id="pieChart" class="chartjs-render-monitor" width="200" height="200"></canvas>
                        </div>                        
                    </div>
                </div>

                <!-- NOTIFICATION OF NEW PRODUCTS -->
                
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                        <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                            <h2 class="tm-block-title">Product Notifications</h2>
                            
                            <div class="tm-notification-items">
                                
                                {% for product in new_products %}
                                    <div class="media tm-notification-item">
                                        <div class="media-body"> 
                                            {% if product.category.name == "New Arrival"%}
                                                <p class="mb-2">BuyMe Stores has a <b style="color:greenyellow;">{{product.category.name}}</b> product <b>{{ product.name }}</b></p>
                                                <span class="tm-small tm-text-color-secondary">{{ product.created_at|timesince }} ago</span>
                                            {% elif product.category.name == "Trending" %}
                                                <p class="mb-2">BuyMe Stores has a <b style="color:crimson;">{{product.category.name}}</b> product <b>{{ product.name }}</b></p>
                                                <span class="tm-small tm-text-color-secondary">{{ product.created_at|timesince }} ago</span>
                                            {% elif product.category.name == "Most Popular" %}
                                                <p class="mb-2">BuyMe Stores has a <b style="color:cyan;">{{product.category.name}}</b> product <b>{{ product.name }}</b></p>
                                                <span class="tm-small tm-text-color-secondary">{{ product.created_at|timesince }} ago</span>
                                            {% endif %}
                                                        
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            
                        </div>
                    </div>
                
            </div>
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">Orders List</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ORDER NO.</th>
                                    <th scope="col">STATUS</th>
                                    <th scope="col">OPERATORS</th>
                                    <th scope="col">LOCATION</th>
                                    <th scope="col">DISTANCE</th>
                                    <th scope="col">START DATE</th>
                                    <th scope="col">EST DELIVERY DUE</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <th scope="row"><b># {{order.number}}</b></th>
                                        <td>
                                            {% if order.status == "Moving" %}
                                                <div class="tm-status-circle moving">
                                            {% elif order.status == "Pending" %}
                                                <div class="tm-status-circle pending">
                                            {% elif order.status == "Cancelled" %}
                                                <div class="tm-status-circle cancelled">
                                            {% endif %}
                                            </div>{{order.status}}
                                        </td>
                                        <td><b>{{order.operators}}</b></td>
                                        <td><b>{{order.location}}</b></td>
                                        <td><b>{{order.distance}} km</b></td>
                                        <td>{{order.start_date.time}} {{order.start_date.date}}</td>
                                        <td>{{order.est_delivery_due.time}} {{order.est_delivery_due.date}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{% static 'js/moment.min.js' %}"></script>
    <!-- https://momentjs.com/ -->
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="{% static 'js/tooplate-scripts.js' %}"></script>
    <script>
        Chart.defaults.global.defaultFontColor = 'white';
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
        barChart, pieChart;
        // DOM is ready
        $(function () {
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawPieChart(); // Pie Chart

            $(window).resize(function () {
                updateLineChart();
                updateBarChart();                
            });
        })
    </script>
</body>

</html>
{% endblock body %}